<div class="d-flex flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom" >
    <h4>Lista de Usuarios</h4>
</div>

<div class="card">
    <div class="card-header">
        <div class="col-sm-3 float-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="buscar" >
                <div class="input-group-append">
                    <a class="btn btn-outline-secondary" type="button" routerLink="crear" >Nuevo</a>
                </div>
            </div>
        </div>  
    </div>
    <div class="card-body p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre de Usuario</th>
                    <th scope="col">Nombre y Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>